.container-main {
  margin: 20px 50px;
}
body {
  background-color: teal;
}
.gameHeader {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border: solid silver 5px;
  border-radius: 10px;
}
.gameHeader h1 {
  text-shadow: snow 10px;
  color: teal;
  font-family: 'Times New Roman', Times, serif;
}

.square:hover {
  transform: scale(1.1);
  border: turquoise 3px;
}
.container {
  display: flex;
  justify-content: center;
}

.modal-body {
  display: flex;
  width: 1000px;
  height: 500px;
}
.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 20px 40px;
}
.grid-input {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: teal;
  margin: 20px;
}
.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid teal;
}
.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 20px;
}
.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: teal;
}
.grid-display-vertical {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: teal;
  display: flex;
}
.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: orangered;
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: orangered;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: rgb(85, 3, 3);
  margin: 10px;
  display: flex;
}
.submarine-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(85, 3, 3);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: rgb(56, 199, 43);
  margin: 10px;
  display: flex;
}
.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(56, 199, 43);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.battleship-container {
  width: 160px;
  height: 40px;
  background-color: rgb(253, 249, 30);
  margin: 10px;
  display: flex;
}
.battleship-container-vertical {
  width: 40px;
  height: 160px;
  background-color: rgb(253, 249, 30);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.carrier-container {
  width: 200px;
  height: 40px;
  background-color: rgb(207, 32, 184);
  margin: 10px;
  display: flex;
}
.carrier-container-vertical {
  width: 40px;
  height: 200px;
  background-color: rgb(207, 32, 184);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.ship div {
  width: 40px;
  height: 40px;
}
.destroyer {
  background-color: orangered;
}
.submarine {
  background-color: rgb(85, 3, 3);
}
.cruiser {
  background-color: rgb(56, 199, 43);
}
.battleship {
  background-color: rgb(253, 249, 30);
}
.carrier {
  background-color: rgb(207, 32, 184);
}
.grid-computer .destroyer {
  background-color: white;
}
.grid-computer .submarine {
  background-color: white;
}
.grid-computer .cruiser {
  background-color: white;
}
.grid-computer .battleship {
  background-color: white;
}
.grid-computer .carrier {
  background-color: white;
}
.boom {
  z-index: 1;
  background-image: url('assets/explosion-417894_640.png');
  background-size: cover;
}
.miss {
  z-index: 1;
  background-image: url('assets/missed-chances.jpg');
  background-size: cover;
}
.hidden-info {
  display: block;
  background-color: whitesmoke;
  border: 2px solid green;
  border-radius: 20px;
  text-align: center;
}
.hidden-info .h3 {
  color: forestgreen;
}
.hidden-info .h5 {
  color: goldenrod;
}
